# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.idea
.vscode

# Fresh build directory
_fresh/
# npm dependencies
node_modules/

docs/

iteraciones/

componentes_externos/

stories/

app_react/

mockups/


mockups.ts

STORYBOOK.md
Tabla.md
ite0.md

storybook.ts
log

